@import "reset.css";
@import "utilities.css";
@import "media.css";

:root {
    --primary-font :  'Roboto', sans-serif;
    --secondary-font: 'Pacifico', cursive;
    --primary-color : crimson;
}


/* Main Styles */

html, body {
    line-height: 1.6;
    font-family: var(--primary-font);
    background: #fff;
}

h1, h2, h3 {
    margin-bottom: 0.5em;
    line-height: 1.2;
    font-family: var(--secondary-font);
}

p {
    padding:  0.55em 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    display: block;
}




/* Navigation */

.main-header {
    padding: 1.5em 0;
  
}

.nav__item + .nav__item {
    margin-left: 2em;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--primary-color);
}

/* Section: Showcase */

.showcase {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    color: #fff;
    height: 84vh;
    position: relative;
}

.showcase__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    text-align: center;
    /* overlay */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
   right: 0;
   bottom: 0;
  z-index: 5;
}

.showcase__content p {
    max-width: 50%;
}
/* Section : Home Articles */

.home-articles {

}

.home-articles__main{
  grid-column: span 2;
}

.card {
    border-bottom: 1px solid rgb(158, 158, 158);
    padding-bottom: 3em;
}

.home-articles__btn  {
   text-align: center;
}

.home-articles__title::after {
    content: "";
    display: block;
    width: 15%;
    padding-bottom: 0.4em;
    margin: 0 auto;
    border-bottom: 3px solid var(--primary-color);
}

.home-articles__title--right::after{
    margin-left: 0;
}

.card--nb {
    border-bottom: none;
}

 .fab{
    font-size: 1.2rem;
    color: #333;
    margin: 0 0.5em;
}

 .fab:hover {
    color: var(--primary-color);
}

/* Recent article section */

.home-articles__recent-box p {
    font-size: 0.9rem;
}

.home-articles__recent-box img {
    max-width: 200px
}

/* Search Form */
.search-wrapper {
    display:flex;
    justify-content: space-between;
    
}

.search-input {
    border: 3px solid #f0f0f0;
    flex: 1;
    padding-left: 15px;
}
 
.btn-secondary--bd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Section: Catergories */

.home-articles__cat--items {
    border-bottom: 1px solid #ebebeb;
}

/* SEction Footer */
.footer {
    background: #f0f0f0;
    text-align: center;
}


/* Article Page */
.article-title {
    text-align: center;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

.home-articles__box--full {
    border-bottom: none;
}

.home-articles__author {
    border: 1px solid #ebebeb;
}

.home-articles__author img {
    width: 100px;
}

.home-articles__author-details {
    margin-left: 30px;
    font-size: 0.8rem;
}
.home-articles__author-details h4 {
    color: var(--primary-color);
}

